<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.we.model.User" >
    <constructor >
      <idArg column="USER_ID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="USERNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DEPT_ID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MOBILE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CRATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="MODIFY_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="SSEX" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="THEME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AVATAR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DESCRIPTION" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, USERNAME, PASSWORD, DEPT_ID, EMAIL, MOBILE, STATUS, CRATE_TIME, MODIFY_TIME, 
    LAST_LOGIN_TIME, SSEX, THEME, AVATAR, DESCRIPTION
  </sql>


</mapper>